name: publish

on:
  #  push:
  #    branches: ["main"]
  workflow_dispatch:

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  WORK_DIR: ~/still-bott
  IMAGE_NAME: ${{ github.actor }}/still-bott:latest
  HASURA_GRAPHQL_ENDPOINT: "https://graphql-engine.miemon.top"
  BACKEND_ENDPOINT: "https://miemon.top"
jobs:
  # publish:
  #   name: publish image
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Login
  #       run: |
  #         echo ${{ secrets.PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
  #     - name: Build and Publish Backend
  #       working-directory: ./api
  #       run: |
  #         docker build . --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
  #         docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
  deploy:
    # needs: publish
    name: deploy image
    runs-on: ubuntu-latest

    steps:
      - name: install ssh keys
        # check this thread to understand why its needed:
        # <https://stackoverflow.com/a/70447517>
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
      - name: connect and pull
        run: ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ env.WORK_DIR }} && docker compose -f miemon.yaml pull && docker compose -f miemon.yaml up -d && exit"
      - name: build and deploy client
        run: |
          ssh -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}
          cd ${{ env.WORK_DIR }}/client
          npm install
          npm run build
      - name: cleanup
        run: rm -rf ~/.ssh
